$sidebar-background: #2B232E;
$sidebar-highlight: #F9F9F8;
$sidebar-text: #C0BDC1;
$sidebar-url-higlight: #80868A;
$sidebar-url-selected: #6A656D;
$sidebar-border: #6A656D;

$main-background: #DFDFDF;
$main-underline: #9F9F9F;

$secondary-background: #F9F9F8;
$secondary-underline: #DFDFDF;

$button-background-standard: #74A86C;
$button-background-standard-disabled: #b3e0ad;
$button-background-warning: #D49E39;
$button-background-warning-disabled: #f7d699;
$button-text: #F9F9F8;

$landing-page-title: #777777;

$gray-gradient: linear-gradient(0deg, rgba(43,35,46,1) 0%, rgba(43,35,46,0.1) 100%);

$modal-background: rgba(43,35,46,0.7);

$search-highlight: #f0efef;