@use '_colors' as colors;

.modal-background {
    position: fixed;
    background-color: colors.$modal-background;
    inset: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: x-large;
    border-bottom: solid colors.$secondary-underline 1px;
}


.modal-container {
    background-color: colors.$secondary-background;
    padding: 1rem;
    border-radius: 0.4rem;
    width: 20%;
}

.modal-search-container {
    background-color: colors.$secondary-background;
    padding: 1rem;
    border-radius: 0.4rem;
    width: 50%;
}

.modal-allow-close {
    cursor: pointer;
}

.modal-no-close {
    cursor: default;
}

.modal-buttons-div {
    border-top: solid colors.$secondary-underline 1px;
}

.modal-content {
    margin-bottom: 1.25rem;
}