@use '_colors';
@use '_sidebar';
@use '_searchResultTile';
@use '_landingPage';

body {
    margin: 0;
    height: 100vh;
    background-color: colors.$main-background;
    font: normal 16px / 1.6 'Open Sans', helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .button-base {
    color: colors.$button-text;
    margin: 1rem 0.25rem;
    padding: 0.5rem;
    border: none;
    font-size: medium;
  }

  .button-standard {
    @extend .button-base;
    background-color: colors.$button-background-standard;
    
  }

  .button-warning {
    @extend .button-base;
    background-color: colors.$button-background-warning;
  }

  .main-row {
    height: 100vh;
  }

  .display-container {
    height: 100vh;
    overflow: auto;
  }