@use '_colors';
@use '_sidebar';
@use '_searchResultTile';
@use '_landingPage';
@use '_viewPage';
@use '_modal';
@use'_checkbox';

body {
    margin: 0;
    height: 100vh;
    background-color: colors.$main-background;
    font: normal 16px / 1.6 'Open Sans', helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .button-base {
    color: colors.$button-text;
    margin: 1rem 0.25rem;
    padding: 0.5rem;
    border: none;
    font-size: medium;
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-icon {
    margin-right: 0.5rem;
  }

  .button-standard {
    @extend .button-base;
    background-color: colors.$button-background-standard;
  }

  .button-standard:disabled {
    background-color: colors.$button-background-standard-disabled;
    cursor: not-allowed;
  }

  .button-warning {
    @extend .button-base;
    background-color: colors.$button-background-warning;
  }

  .button-warning:disabled {
    background-color: colors.$button-background-warning-disabled;
    cursor: not-allowed;
  }

  .main-row {
    height: 100vh;
  }

  .display-container {
    height: 100vh;
    overflow: auto;
  }

  .badge {
    background-color: colors.$main-background;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.5rem;
  }

  table {
    background-color: colors.$secondary-background;
    border-radius: 0.4rem;
    padding: 0.5rem;
    width:100%;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid colors.$secondary-underline;
  }

  tr:last-child td {
    border: none;
  }

  input[type=text] {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid colors.$secondary-underline;
    width: 95%;
  }

  input[type=text]:focus {
    outline: 1px solid colors.$secondary-underline;
  }

  .create-text-area {
    width: 100%;
    height: 15rem;
    resize: none;
    border: 1px solid colors.$secondary-underline;
    border-radius: 0.4rem;
  }

  .create-text-area:focus {
    outline: 1px solid colors.$secondary-underline;
  }